<div class="footer">
  <div class="footercolorbar">
    <div class="linkwrapper">
      <a href="/">Home</a>
      <a href="https://www.againstmalaria.com/">AMF</a>
      <a href="https://twitter.com/giveanet">Twitter</a>
      <a href="mailto:contact@giveanet.org">Contact</a>
    </div>
  </div>
</div>
