<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Net Countdown</title>
<link rel="icon" type="image/png" href="/static/image/favicon.png?v=CACHEBUSTER">
<link rel="stylesheet" href="/static/style/dep/normalize.css?v=CACHEBUSTER">
<link rel="stylesheet" href="/static/font/font.css?v=CACHEBUSTER">
<link rel="stylesheet" href="/static/style/omn.css?v=CACHEBUSTER">
<link rel="stylesheet" href="/static/style/dep/intl-tel-input.css?v=CACHEBUSTER">
<meta property="og:title" content="Join the #NetCountdown">
<meta property="og:description" content="Let's donate 10,000 mosquito nets to help stop malaria">
<meta property="og:image" content="https://giveanet.org/static/image/giveanet.png?v=CACHEBUSTER">
